$UI_COLOR_SUCCESS: #67c23a;
$UI_COLOR_WARNING: #e6a23c;
$UI_COLOR_ERROR: #f56c6c;
$UI_COLOR_PRIMARY: #409eff;
$UI_COLOR_GRAY: #909399;
$UI_COLOR_WOCLOUD: #fec105;
$UI_COLOR_OFFICE: #35b083;
$UI_COLOR_AZURE: #27abfe;
$UI_COLOR_TENCENT: #02c8d6;
$UI_COLOR_BAIDU: #2252f7;
$UI_COLOR_ALIYUN: #ff6b01;
$UI_COLOR_MEC: #35b084;
$UI_COLOR_AWS: #203f5d;
$UI_COLOR_HUAWEI: #b978fe;
$UI_COLOR_JINSHAN: #008000;
$UI_COLOR_JDCLOUD: #db1517;
$UI_COLOR_VOLCENGINE: #ff5722;
$UI_COLOR_QING: #a0d911;
$UI_COLOR_MUCEP: #14aadc;
$UI_COLOR_BASE_WHITE: #fff;
$UI_COLOR_BASE_BLACK: #000;

$colors: (
  $UI_COLOR_SUCCESS,
  $UI_COLOR_WARNING,
  $UI_COLOR_ERROR,
  $UI_COLOR_PRIMARY,
  $UI_COLOR_GRAY,
  $UI_COLOR_WOCLOUD,
  $UI_COLOR_OFFICE,
  $UI_COLOR_AZURE,
  $UI_COLOR_TENCENT,
  $UI_COLOR_BAIDU,
  $UI_COLOR_ALIYUN,
  $UI_COLOR_MEC,
  $UI_COLOR_AWS,
  $UI_COLOR_HUAWEI,
  $UI_COLOR_JINSHAN,
  $UI_COLOR_JDCLOUD,
  $UI_COLOR_VOLCENGINE,
  $UI_COLOR_QING,
  $UI_COLOR_MUCEP
);

@each $value in $colors {
  [data-color='#{"" + $value}'] {
    display: inline-block;
    color: $value;
    border: 1px solid $value;
  }
}
// stylelint-disable
:export {
  UI_COLOR_SUCCESS: $UI_COLOR_SUCCESS;
  UI_COLOR_WARNING: $UI_COLOR_WARNING;
  UI_COLOR_ERROR: $UI_COLOR_ERROR;
  UI_COLOR_PRIMARY: $UI_COLOR_PRIMARY;
  UI_COLOR_GRAY: $UI_COLOR_GRAY;
  UI_COLOR_WOCLOUD: $UI_COLOR_WOCLOUD;
  UI_COLOR_OFFICE: $UI_COLOR_OFFICE;
  UI_COLOR_AZURE: $UI_COLOR_AZURE;
  UI_COLOR_TENCENT: $UI_COLOR_TENCENT;
  UI_COLOR_BAIDU: $UI_COLOR_BAIDU;
  UI_COLOR_ALIYUN: $UI_COLOR_ALIYUN;
  UI_COLOR_MEC: $UI_COLOR_MEC;
  UI_COLOR_AWS: $UI_COLOR_AWS;
  UI_COLOR_HUAWEI: $UI_COLOR_HUAWEI;
  UI_COLOR_JINSHAN: $UI_COLOR_JINSHAN;
  UI_COLOR_JDCLOUD: $UI_COLOR_JDCLOUD;
  UI_COLOR_VOLCENGINE: $UI_COLOR_VOLCENGINE;
  UI_COLOR_QING: $UI_COLOR_QING;
  UI_COLOR_MUCEP: $UI_COLOR_MUCEP;
}
